.result-list,
.result-list li {
    margin:0;
    padding:0;
    list-style: none;
}

.result-list li {
    display: inline-block;
    padding:0 10px 10px 0;
}


.btn {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn:active, .btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* Based on Bootstrap theme .btn-primary and .btn-success */

.strategy {
    color: #fff;
    background-color: #428bca;
    background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
    background-image:         linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #2b669a;
}
.strategy:hover,
.strategy:focus {
    color: #fff;
    border-color: #285e8e;
    background-color: #2d6ca2;
    background-position: 0 -15px;
}
.strategy:active,
.strategy.active {
    background-image: none;
    background-color: #2d6ca2;
    border-color: #2b669a;
}

.need {
    color: #fff;
    background-color: #5cb85c;
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}

.need:hover,
.need:focus {
    background-position: 0 -15px;
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}


.need:active,
.need.active {
    background-image: none;
    background-color: #419641;
    border-color: #3e8f3e;
}