
{{view NVC.SearchField label="Suche:" action="query" valueBinding="search" }}

{{#if isSearching}}Suche läuft ...{{/if}}


<ul class="result-list">
    {{#each needsContent}}
        <li>
            <a href="#" class="btn btn-lg need">{{name}}</a>
        </li>
    {{/each}}

    {{#each strategiesContent}}
        <li>
            <a href="#" class="btn btn-lg strategy">{{name}}</a>
        </li>
    {{/each}}
</ul>
