
{{view NVC.SearchField label="Suche:" action="query" valueBinding="search" }}

{{#if isSearching}}Suche läuft ...{{/if}}


<ul id="result-list">
    {{#each needsContent}}
        <li class="need">
            {{name}}
        </li>
    {{/each}}

    {{#each strategiesContent}}
        <li class="strategy">
            {{name}}
        </li>
    {{/each}}
</ul>
